# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyt
*.env
*.venv
env/
venv/
*.egg-info/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDEs / Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# DVC tracked data (ignore large files, track .dvc)
data/*
!data/**/*.dvc

# Models
src/heart_disease_project/data/model/*
!src/heart_disease_project/data/model/*.dvc

# Kedro pipeline / cache
.kedro/
.ipynb_checkpoints/
.cache/
outputs/

# Optional: ignore other intermediate files
*.tmp
*.bak

# Ignore Python virtual environments inside project
.env/
.venv/
